<%= form_with(model: @blog, local: true) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="blog_Name">
    <%= form.label :Name %>
    <%= form.text_field :name %>
  </div>
  <div class="blog_Email">
    <%= form.label :Email %>
    <%= form.text_field :email %>
  </div>
  <div class="blog_Content">
    <%= form.label :Content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit name = "contact" %>
<% end %>